body {
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSefIvLHSI--bBdnWiIpMhbqrps4kAaGj3G3g&usqp=CAU");
  text-align: center;
}
p {
  color: black;
  font-size: 25px;
}
h1 {
  color: red;
}
img {
  margin: 40px 0px 0px 0px;
  border: 7px solid white;
  border-radius: 20px;
}
  #information {
    text-align: center;
    font-size: 15px;
    color: red;
}
    #follow {
      font-size: 25px;
      color: red;
}
