body {
  text-align: center;
  border-style: solid;
  border-color: white;
  background-image: url(demoimage.jpg.jpg);
  background-size: cover;
}
p {
  color: black;
  font-size: 25px;
}
h1 {
  color: #8b0000;
  font-size: 50px;
  display:inline-block; 
  margin-left: 40px;
  }
img {
  margin: 40px 0px 0px 0px;
  border: 7px solid white;
  border-radius: 20px;
}
  #information {
    font-size: 15px;
    color: red;
    text-align: center;
}
    #follow {
      font-size: 25px;
      color: red;
      text-align: center;
}
h2 {
  text-decoration: underline;
}
.div1 {
  text-align: center;
}
.div1 ul {
  display: inline-block;
}

.div1 ul li {
  text-align: left;
}
.div2 {
  text-align: center;
}
.div2 ul {
  display: inline-block;
}
.div2 ul li {
  text-align: left;
}
