body {
  text-align: center;
  border-style: solid;
  border-image-source: url(metallic_background.jpg);
  border-image-outset: 10px;
}
p {
  color: black;
  font-size: 25px;
}
h1 {
  color: #8b0000;
  font-size: 50px;
  display:inline-block; 
  margin-left: 40px;
  }
img {
  margin: 40px 0px 0px 0px;
  border: 7px solid white;
  border-radius: 20px;
}
  #information {
    font-size: 15px;
    color: red;
}
    #follow {
      font-size: 25px;
      color: red;
}
ul li{
  list-style-position: inside;
  font-size: 20px;
}
h2 {
  text-decoration: underline;
}
